@import '../node_modules/bootstrap/dist/css/bootstrap.css';

$text-color: #404040;
$primary-color: #d45e5e;
$dark-color: #282828;

@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

@mixin myFont($color: black, $size: 16px) {
    color: $color;
    font-size: $size;
}

body {
    font-family: 'Noto Serif', serif;
}

.logo {
    width: 100%;
    height: 90px;
    @include flexAlign(flex-end, flex-start, column);
    padding-left: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    &__small {
        @include myFont($text-color, 15px);
        text-transform: capitalize;
        line-height: 19px;
        margin-top: 5px;
        padding-left: 3px;
        box-sizing: border-box;
    }
}

.links  {
    width: 100%;
    @include flexAlign(flex-start, flex-start);

    @media screen and (max-width: 767px) {
        display: none;
    }

    &__item {
        height: 75px;
        @include flexAlign($vert: flex-end);
        padding: 10px 18px;
        box-sizing: border-box;
        cursor: pointer;

        &-text {
            white-space: nowrap;
            color: $text-color;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            letter-spacing: -1px;
            font-weight: 100;

            &_active {
                color: white;
            }
        }

        &_active {
            background-color: $primary-color;
        }
    }
}

.menu {
    width: 100%;
    height: 90px;
    @include flexAlign(flex-start);
    display: none;

    @media screen and (max-width: 767px) {
        display: flex;
    }


    .checkbox {
        display: none;

        &:checked + .button > .button__line {
            background-color: transparent;
        }

        &:checked + .button > .button__line::after {
            transform: rotate(45deg);
            top: 0;
        }

        &:checked + .button > .button__line::before {
            transform: rotate(-45deg);
            bottom: 0;
        }
    }

    .button {
        width: 40px;
        height: 40px;
        border: 3px solid $text-color;
        border-radius: 4px;
        @include flexAlign;
    
        &__line {
            width: 30px;
            height: 2px;
            background: $text-color;
            position: relative;
            transition: .5s;
    
            &::after {
                content: '';
                width: 30px;
                height: 2px;
                background-color: $text-color;
                position: absolute;
                left: 0;
                top: 8px;
                transition: .5s;
            }
    
            &::before {
                content: '';
                width: 30px;
                height: 2px;
                background-color: $text-color;
                position: absolute;
                left: 0;
                bottom: 8px;
                transition: .5s;
            }
        }
    }
}

.chapter {
    border-bottom: 1px solid #f4f1f1;
    background-color: white;
    position: relative;
    z-index: 1;

    &__content {
        width: 100%;
        height: 230px;
        padding: 70px 0 20px;
        box-sizing: border-box;
        @include flexAlign($hor: space-between, $pos: column);

        @media screen and (max-width: 767px) {
            height: 100%;
        }

        @media screen and (max-width: 575px) {
            padding-top: 50px;
        }

        &-text {
            @include myFont($text-color, 22px);
            line-height: 36px;
            font-style: italic;
            text-align: center;

            @media screen and (max-width: 575px) {
                font-size: 16px;
            }
        }
    }
}

.pencil {
    width: 100%;
    @include flexAlign;
    position: relative;
    right: 16px;
    bottom: 42px;

    @media screen and (max-width: 767px) {
        bottom: 27px;
    }

    @media screen and (max-width: 575px) {
        bottom: 52%;
    }

    &__img {
        @media screen and (max-width: 767px) {
            width: 100%;
        }

        @media screen and (max-width: 575px) {
            width: 126%;
        }
    }
}

.portfolio {
    padding-bottom: 90px;
    box-sizing: border-box;

    @media screen and (max-width: 767px) {
        padding-bottom: 45px;
    }

    &__text {
        @include myFont($text-color, 22px);
        font-style: italic;
        margin-bottom: 35px;
    }

    .cards {
        &__item {
            @include flexAlign;
            margin-bottom: 30px;

            @media screen and (min-width: 1199px) {
                height: 248px;
            }

            @media screen and (max-width: 767px) and (min-width: 575px) {
                height: 226px;
            }
        }

        &__item img {
            @media screen and (min-width: 1199px) {
                transform: scale(1.2);
            }

            @media screen and (max-width: 767px) and (min-width: 575px) {
                transform: scale(1.1);
            }
        }
    }
}

.summary {
    background: $primary-color;

    &__content {
        width: 100%;
        height: 260px;
        @include flexAlign(space-between, flex-start, column);
        padding: 10px 0 35px;
        box-sizing: border-box;

        @media screen and (max-width: 991px) {
            padding-bottom: 0;
            height: 195px;
        }

        @media screen and (max-width: 767px) {
            height: 235px;
        }

        @media screen and (max-width: 575px) {
            height: 265px;
        }

        @media screen and (max-width: 365px) {
            height: 385px;
        }

        &-text {
            @include myFont(white, 12px);
        }

        .about {
            width: 100%;
            @include flexAlign(space-between, flex-end);

            @media screen and (max-width: 575px) {
                flex-wrap: wrap;
                justify-content: space-around;
            }

            &__container {
                width: 320px;
                @include flexAlign(space-between, flex-end);

                @media screen and (max-width: 575px) {
                    margin-bottom: 20px;
                    width: 272px;
                }
            }

            &__img {
                width: 138px;
                height: 138px;
                background-color: white;
                @include flexAlign;
                margin-top: -75px;

                @media screen and (max-width: 575px) {
                    width: 102px;
                    height: 102px;
                }

                & img {
                    @media screen and (max-width: 575px) {
                        width: 96px;
                        height: 96px;
                    }
                }
            }

            &__data {
                padding-bottom: 10px;
                box-sizing: border-box;

                &-name {
                    @include myFont(white, 24px);
                    font-style: italic;

                    @media screen and (max-width: 575px) {
                        font-size: 22px;
                    }
                }

                &-location {
                    width: 95px;
                    @include flexAlign(space-between);
                    @include myFont(white, 12px);
                }
            }

            .socials {
                width: 115px;
                @include flexAlign(space-between);
                padding-bottom: 10px;
                box-sizing: border-box;
            }
        }
    }

    .sidebar {
        width: 100%;
        height: 260px;
        @include flexAlign(space-between, flex-start, column);
        padding: 55px 0 50px;
        box-sizing: border-box;

        &__title {
            @include myFont(white, 24px);
        }

        .abilities {
            width: 230px;

            .skill {
                width: 100%;
                @include flexAlign(space-between);

                &__name {
                    @include myFont(white, 18px)
                }

                &__line {
                    width: 195px;
                    height: 10px;
                    background-color: #e27878;

                    &-progress {
                        width: 110px;
                        height: 10px;
                        background-color: $dark-color;

                        &_ai {
                            width: 155px;
                        }

                        &_bs {
                            width: 55px;
                        }

                        &_cs {
                            width: 185px;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $dark-color;

    @media screen and (max-width: 767px) {
        display: none;
    }

    &__container {
        height: 40px;
        @include myFont(#ababab, 12px);
        @include flexAlign(flex-end);
    }
}


